# <h1>Products#index</h1>
# <p>Find me in app/views/products/index.html.erb</p>

<%= debug @products %>

<h1><%= t ".title" %></h1>

<!-- Links to ProductsController.new action-->
<%= link_to "New product", new_product_path if authenticated? %>

<!––loops through each product in the `@products ActiveRecord::Relation` object––>
<!--and renders a <div> tag containing the product name-->
<div id="products">
    
    <% @products.each do |product| %>
        <div>
        <!––# `link_to` accepts the display content for link (here, product.name),––>
        <!––# and the path/url to link to for the href attribute (product)––>
            <%= link_to product.name, product %>
        </div>
    <% end %>
</div>